@model DMS.Membership.ActivateEmailModel

<html>
<head>
    <title>Activate your DMS account</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to create a new account on DMS with your e-mail address.</p>

    <p>Click the link below to activate your account:</p>

    <p><a href="@Model.ActivateLink">@Model.ActivateLink</a></p>

    <p>If it wasn't you who requested this, you can ignore this email.</p>

    Thanks,
    The "DMS" Team
</body>
</html>